@import url(//db.onlinewebfonts.com/c/5755b52141ec4ff6f2990c355ede49e0?family=MBVinatageW01-Medium);

@font-face {
  font-family: "MBVinatageW01-Medium";
  src: url("//db.onlinewebfonts.com/t/5755b52141ec4ff6f2990c355ede49e0.eot");
  src: url("//db.onlinewebfonts.com/t/5755b52141ec4ff6f2990c355ede49e0.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/5755b52141ec4ff6f2990c355ede49e0.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/5755b52141ec4ff6f2990c355ede49e0.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/5755b52141ec4ff6f2990c355ede49e0.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/5755b52141ec4ff6f2990c355ede49e0.svg#MBVinatageW01-Medium")
      format("svg");
}

* {
  font-family: "MBVinatageW01-Medium";
}
#landing-title {
  color: #ffe77d;
  font-weight: 700;
  font-size: min(60px, 5vw);
}

.title {
  font-weight: 700;
  margin-bottom: 30px;
}

.title-sub {
  color: #ffe77d;
  font-size: 40px;
  font-weight: 700;
}

.background-img {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(50%);
}

h6 {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 300;
}

h4 {
  margin-top: 40px;
  font-family: "MBVinatageW01-Medium";
  font-weight: 700;
}

body {
  font-family: "Work Sans";
}

section {
  height: auto;
  padding: 10vh 15vw;
}
.vis1 {
  height: 50vh;
  margin-top: 50px;
}

#map-vis {
  width: 100%;
  height: 50vh;
}

.chart-title {
  display: flex;
  text-align: "center";
  justify-content: center;
}

#exploratory-vis {
  width: 100%;
  height: 70vh;
}

.exploratory-filter {
  background: white;
}

#genres {
  width: 100%;
}

.btn-group {
  width: 100%;
  height: 50px;
}
#radial-genre-vis {
  width: 100%;
  height: 50vh;
}
/* .section {
  height: 100%;
} */

/* just for template, can remove after we make visualizations */
#section0 {
  height: 90vh;
}
#section1,
#section2,
#section5,
#section6 {
  height: 90vh;
}

/* nav dot scroll styling */

nav#dot-nav {
  position: fixed;
  right: 20px;
  top: 20px;
}

nav#dot-nav a {
  border: 1px solid #121212;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: block;
  margin: 10px;
}

nav#dot-nav a.active {
  background: #121212;
}
/* nav#dot-nav a:first-child {
  background: #121212;
} */

/* bouncing scroll arrow animation styling */
#arrow {
  height: 30px;
  width: auto;
}

.bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 3.6s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
  width: 80px;
  color: black;
  border-color: black;
}

#map-selector {
  margin-top: 20px;
}

#button-all-label {
  background-color: rgb(79, 98, 112);
}

#button-disney-label {
  background-color: #66a1ed;
}

#button-hulu-label {
  background-color: #7de39f;
}

#button-netflix-label {
  background-color: #e50914;
}

#button-prime-label {
  background-color: #edbc51;
}

.btn.active {
  font-weight: bold;
  border-color: black;
}

.btn-primary {
  padding-top: 12px;
  padding-bottom: 12px;
  height: 50px;
  border-color: black;
}

#fcp-image-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
}

#fcp-image {
  height: auto;
  width: 80%;
}

#fcp-image .final-image {
  height: auto;
  width: 100%;
  object-fit: contain;
}
