.title {
  color: black;
  font-family: "Space Mono";
  font-weight: bold;
  font-size: 60px;
}

.title-sub {
  font-family: "Work Sans";
}

body {
  padding: 10vh 10vw;
}

.wrap {
  height: 100%;
  width: 100%;
  text-align: center;
}

#arrow {
  height: 50px;
  width: auto;
}

/* .wrap #arrow {
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0px;
} */

.bounce {
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
  animation: bounce 3.6s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
